.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.groceryitemCard-list {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.groceryitemCard {
  background-color: black;
  color: white;
}

.linegroceryitemCard {
    list-style: none;
    font-size: 0;
    height: 22px;
    margin-top: 2px;
}

.groceryitemCard li {
    display: inline-block;
    border-radius: 0%;
    width: 35px;
    height: 20px;
    margin-top: 4px;
    background: #737373;
    outline: 1px solid #000;
}

ul li.success {
    background: #00ff00;
}

ul li.delayed {
    background: #ff0000;
}
